.table-title {
  text-align: center;
}

.poke-table {
  width: 95%;
  margin: auto;
  border-collapse: collapse;
}

.poke-table th, td {
  padding: 1em;
  text-align: center;
}

.poke-table thead {
  background: linear-gradient(180deg, rgba(41, 87, 186, 0.5), transparent);
}

.poke-table tbody tr {
  cursor: 'pointer';
  border-top: transparent 0.5em solid;
  border-bottom: transparent 0.5em solid;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.poke-table tbody tr td {
  padding: 0;
}

.poke-table tbody tr a {
  display: block;
  padding: 8px;
  color: inherit;
  text-decoration: inherit;
}

.poke-table tbody tr:hover {
  background-color: cyan;
}

.poke-table tr:first-child th:first-child {
  border-top-left-radius: 1rem;
}
.poke-table tr:first-child th:last-child {
  border-top-right-radius: 1em;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

button {
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.poke-table td .type-span {
  display: inline-block;
  font-size: 0.8em;
  padding: 2px;
  opacity: 0.75;
  margin-left: 0.3em;
  border-radius: 5px;
}

.poke-table td .span-div {
  display: inline-block;
}

@media (orientation: portrait) {
  .poke-table td .span-div {
    display: block;
  }
  .poke-table tbody tr a {
    padding: 4px;
  }
}